@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --green-text: #1aa090;
  --gray-text: #d6d6d6;
  --black-bg: #121b25;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: var(--black-bg);
  color: #fff;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

[class*=__container] {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: var(--gray-text);
}

.header {
  padding: 40px 0;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__navigations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 75px;
}
.header .menu__body {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header .menu__link {
  color: var(--gray-text);
  font-weight: 500;
  font-size: 16px;
  position: relative;
}
.header .menu__link:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  background-color: var(--green-text);
  height: 3px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}
@media (any-hover: hover) {
  .header .menu__link:hover {
    color: #fff;
  }
  .header .menu__link:hover:before {
    opacity: 1;
    visibility: visible;
  }
}
.header__buttons {
  display: flex;
  gap: 5px;
}
.header__btn {
  padding: 11px 29px;
  border: 1px solid var(--green-text);
  color: #fff;
  background-color: transparent;
}

.singin {
  background-color: var(--green-text);
}
@media (any-hover: hover) {
  .singin:hover {
    background-color: transparent;
  }
}

@media (any-hover: hover) {
  .login:hover {
    background-color: var(--green-text);
  }
}

.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__content {
  flex: 0 0 49.2957746479;
  padding-bottom: 170px;
}
.hero__title {
  font-size: 68px;
  font-weight: 600;
  text-transform: capitalize;
}
.hero__img {
  flex: 0 0 49.2957746479;
}
.hero__filters {
  width: 900px;
  height: 100px;
  background-color: #fff;
  position: absolute;
  margin-top: 60px;
}

.filter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 160px;
  color: black;
}
.filter .block-filter:nth-child(2) {
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
}
.filter__btn {
  padding: 5px;
}
.filter__btn button {
  color: #fff;
  background-color: var(--green-text);
  width: 100%;
  height: 100%;
  border: none;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}

.block-filter {
  position: relative;
}
.block-filter__button {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
  padding-left: 40px;
}
.block-filter__dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.block-filter__dropdown._active {
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}
.block-filter__item {
  padding: 10px;
  cursor: pointer;
}
.block-filter__item:hover {
  background-color: #e8e8e8;
}
.block-filter__type {
  color: var(--gray-text);
  font-weight: 400;
  padding-right: 5px;
  cursor: pointer;
}
.block-filter__header {
  display: flex;
  align-items: center;
}
.block-filter__icon {
  background: url("../icons/dropdown-arrow.svg") center center no-repeat;
  width: 5px;
  height: 10px;
  transition: 0.3s;
}
.block-filter__icon._active {
  transform: rotate(180deg);
  transition: 0.3s;
}

.featured {
  padding: 60px 0;
}
.featured__title {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 60px;
}
.featured__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular {
  background-image: url("../img/Mask group.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1a242f;
}
.popular .popular__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 126%;
  text-transform: capitalize;
  color: #ffffff;
  padding-top: 163px;
}
.popular .swiper {
  margin-top: 40px;
}
.popular__swiper-wrapper {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.popular__swiper-slide {
  width: 50%;
  flex-wrap: wrap;
}
.popular .swiper__up {
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}
.popular .slide1 {
  background-image: url("../img/katie-musial-Zf5zT1torbg-unsplash.jpg");
}
.popular .slide2 {
  background-image: url("../img/lance-anderson-QdAAasrZhdk-unsplash.jpg");
}
.popular .slide3 {
  background-image: url("../img/pexels-scott-webb-532569.jpg");
}
.popular .swiper__title {
  font-weight: 600;
  font-size: 26px;
  line-height: 126%;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #ffffff;
  margin-top: 22px;
}
.popular .swiper__address {
  font-size: 18px;
  line-height: 170%;
  color: #d6d6d6;
  margin-top: 3px;
}
.popular .swiper__icons {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.popular__swiper-button-next, .popular__swiper-button-prev {
  opacity: 0.8;
  border: 1px solid #a9adb1;
  border-radius: 50%;
  width: 78px !important;
  height: 78px !important;
  text-align: center;
  font-size: 70px;
  align-self: center;
}
.popular .swiper-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.popular .swiper-button-prev::after {
  color: white;
  font-size: 14px;
  font-weight: bold;
}
.popular .swiper-button-next::after {
  color: white;
  font-size: 14px;
  font-weight: bold;
}
.popular .swiper__icon {
  display: flex;
  align-items: center;
}
.popular .swiper__icon span {
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: #ffffff;
  margin-left: 5px;
}
.popular .swiper__icon:nth-child(2) {
  margin: 0 23px;
}

.choose {
  padding: 150px 0;
}
.choose__title {
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  width: 100%;
  align-self: center;
  align-items: center;
}
.choose__box {
  display: flex;
  text-align: center;
  margin-top: 60px;
  justify-content: space-between;
  -moz-column-gap: 50px;
       column-gap: 50px;
  line-height: 30px;
}
.choose__img {
  background-color: #072a2c;
  padding: 30px;
  width: 35%;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 30px;
}
.choose__text {
  font-size: 26px;
}
.choose__text-p {
  font-size: 18px;
}
.choose__box-text {
  padding: 100px 200px;
}
.choose__box-texth2 {
  font-size: 100px;
  transform: rotate(180deg);
  width: 5%;
  margin-bottom: -70px;
  color: var(--green-text);
}
.choose__box-textp {
  font-size: 32px;
  font-weight: 400;
  line-height: 50px;
}/*# sourceMappingURL=style.css.map */