@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --green-text: #1aa090;
  --gray-text: #d6d6d6;
  --black-bg: #121b25;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: var(--black-bg);
  color: #fff;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

[class*="__container"] {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.text{
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: var(--gray-text);
}

// ----------HEADER-----------

.header {
  padding: 40px 0;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__navigations {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 75px;
  }

  .menu {
    &-icons{

    }


    &__body {
      display: flex;
      align-items: center;
      gap: 40px;
    }
    &__link {
      color: var(--gray-text);
      font-weight: 500;
      font-size: 16px;
      position: relative;

      &:before{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -5px;
        background-color: var(--green-text);
        height: 3px;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s;
      }
      @media(any-hover:hover){
        &:hover{
          color: #fff;
          &:before{
            opacity: 1;
            visibility: visible;
          }
      }
    }
  }
 }
 &__buttons{
  display: flex;
  gap: 5px;
 }

 &__btn{
  padding: 11px 29px;
  border: 1px solid var(--green-text);
  color: #fff;
  background-color: transparent;
  }
}




.singin{
  background-color: var(--green-text);
  @media(any-hover:hover){
    &:hover{
      background-color: transparent;
    }
  }
}

.login{
  @media(any-hover:hover){
    &:hover{
      background-color: var(--green-text);
    }
  }
}

// ----------HEADER END-------


// ---------HERO--------

.hero{

  &__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content{
    flex: 0 0 calc(700px / 1420px * 100);
    padding-bottom: 170px;
  }

  &__title{
    font-size: 68px;
    font-weight: 600;
    text-transform: capitalize;
  }

  &__img{
    flex: 0 0 calc(700px / 1420px * 100);
  }

  &__filters{
    width: 900px;
    height: 100px;
    background-color: #fff;
    position: absolute;
    margin-top: 60px;
  }
}

.filter{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 160px;
  color: black;

  .block-filter:nth-child(2){
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
  }

  &__btn{
    padding: 5px; 

    button{
      color: #fff;
      background-color: var(--green-text);
      width: 100%;
      height: 100%;
      border: none;
      font-size: 24px;
      font-weight: 500;
      cursor: pointer;
    }
  }
}

.block-filter{
  position: relative;

  &__button{
    display: flex;
    justify-content: center;
    // align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding-left: 40px;
    
  }

  &__dropdown{
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background-color: #fff;
    opacity: 0;
    // border-radius: 5px;
    visibility: hidden;
    transition: 0.3s;


    &._active{
      visibility: visible;
      opacity: 1;
      transition: 0.3s;
    }
  }


  &__item{
    padding: 10px;
    cursor: pointer;

    &:hover{
      background-color: #e8e8e8;
      
    }
  }

  &__type{
    color: var(--gray-text);
    font-weight: 400;
    padding-right: 5px;
    cursor: pointer;
  }

  &__header{
    display: flex;
    align-items: center;
  }
  &__icon{
    background: url('../icons/dropdown-arrow.svg') center center no-repeat;
    width: 5px;
    height: 10px;
    transition: 0.3s;

    &._active{
      transform: rotate(180deg);
      transition: 0.3s;
    }
  }
}


.featured{
  padding: 60px 0;

  &__title{
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 60px;
  }
  &__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


.popular {
  background-image: url("../img/Mask\ group.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1a242f;

  .popular__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 126%;
    text-transform: capitalize;
    color: #ffffff;
    padding-top: 163px;
  }

  .swiper {
    margin-top: 40px;
  }
  &__swiper-wrapper{
    display: flex;
    column-gap: 30px;
  }
  &__swiper-slide{
    width: 50%;
    flex-wrap: wrap;
  }

  .swiper__up {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .slide1 {
    background-image: url("../img/katie-musial-Zf5zT1torbg-unsplash.jpg");
  }

  .slide2 {
    background-image: url("../img/lance-anderson-QdAAasrZhdk-unsplash.jpg");
  }

  .slide3 {
    background-image: url("../img/pexels-scott-webb-532569.jpg");
  }

  .swiper__down {
  }

  .swiper__title {
    font-weight: 600;
    font-size: 26px;
    line-height: 126%;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #ffffff;
    margin-top: 22px;
  }

  .swiper__address {
    font-size: 18px;
    line-height: 170%;
    color: #d6d6d6;
    margin-top: 3px;
  }

  .swiper__icons {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  &__swiper-button-next,
  &__swiper-button-prev {
    opacity: 0.8;
    border: 1px solid #a9adb1;
    border-radius: 50%;
    width: 78px !important;
    height: 78px !important;
    text-align: center;
    font-size: 70px;
    align-self: center;
  }

  .swiper-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .swiper-button-prev::after {
    color: white;
    font-size: 14px;
    font-weight: bold;
  }

  .swiper-button-next::after {
    color: white;
    font-size: 14px;
    font-weight: bold;
  }

  .swiper__icon {
    display: flex;
    align-items: center;
    span {
      font-size: 16px;
      line-height: 19px;
      text-transform: capitalize;
      color: #ffffff;
      margin-left: 5px;
    }
    &:nth-child(2) {
      margin: 0 23px;
    }
  }
}



.choose{
  padding: 150px 0;

  &__title{
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    align-self: center;
    align-items: center;
  }
  &__box{
    display: flex;
    text-align: center;
    margin-top: 60px;
    justify-content: space-between;
    column-gap: 50px;
    line-height: 30px;
  }
  &__img{
    background-color: #072a2c;
    padding: 30px;
    width: 35%;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 30px;
    }  
    &__text{
      font-size: 26px;
    }
    &__text-p{
      font-size: 18px;
    }  
 &__box-text{
  padding: 100px 200px;
 }
    &__box-texth2{
      font-size: 100px;
      transform: rotate(180deg);
      width: 5%;
      margin-bottom: -70px;
      color: var(--green-text);
    }

    &__box-textp{
      font-size: 32px;
      font-weight: 400;
      line-height: 50px;
    }
}

.people{
  padding: 100px 0 100px 0;
  background: linear-gradient(270deg, #1A242F 0.01%, rgba(26, 36, 47, 0) 82.97%);
  &__container{
    display: flex;
  }

  &__img{
    width: 50%;
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    padding: 30px 30px 0 0;
  }

  &__info{
    width: 50%;
    padding: 100px;
    align-items: center;
    align-self: center;
  }

  &__header{
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    text-transform: capitalize;
    margin-bottom: 22px;
    
  }
  &__text{
    color: var(--gray-text);
    line-height: 30px;
    font-size: 18px;
    font-weight: 400;
  }

  &__btn{
    cursor: pointer;
    padding: 15px 30px;
    background-color: var(--green-text);
    border: 1px solid var(--green-text);
    margin-top: 60px;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
  }
}

.begin{

  padding: 180px 300px;
  &__container{
    display: flex;
    align-items: center;
  }

  &__h2{
    font-size: 68px;
    font-weight: 600;
    width: 50%;
    text-transform: capitalize;
  }

  &__p{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    width: 50%;
  }
  
  &__btn{
    padding: 15px 30px;
    background-color: var(--green-text);
    border: 1px solid var(--green-text);
    color: #fff;
    font-size: 24px;
    font-weight: 500px;
    margin-top: 20px;
    cursor: pointer;
  }
  
}

.rentiz{
  background: linear-gradient(270deg, #1A242F 0.01%, rgba(26, 36, 47, 0) 82.97%);
  &__container{
    display: flex;
  }

  &__box{
    line-height: 30px;
    padding: 50px;
    font-size: 18px;
  }

  &__h2{
    margin-bottom: 10px;
  }

  &__contact{
    display: flex;
    margin-top: 20px;
    // justify-content: space-between;
    column-gap: 30px;
  }
}