@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --green-text: #1aa090;
  --gray-text: #d6d6d6;
  --black-bg: #121b25;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: var(--black-bg);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

[class*="__container"] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.text{
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: var(--gray-text);
}

// ----------HEADER-----------

.header {
  padding: 40px 0;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__navigations {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: clamp(1.25rem, -4.861rem + 12.73vw, 4.688rem);
  }

  .menu {
    &-icons{

    }


    &__body {
      display: flex;
      align-items: center;
      gap: 40px;
    }
    &__link {
      color: var(--gray-text);
      font-weight: 500;
      font-size: 16px;
      position: relative;

      &:before{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -5px;
        background-color: var(--green-text);
        height: 3px;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s;
      }
      @media(any-hover:hover){
        &:hover{
          color: #fff;
          &:before{
            opacity: 1;
            visibility: visible;
          }
      }
    }
  }
 }
 &__buttons{
  display: flex;
  gap: 5px;
 }

 &__btn{
  padding: 11px 29px;
  border: 1px solid var(--green-text);
  color: #fff;
  background-color: transparent;
  }
}




.singin{
  background-color: var(--green-text);
  @media(any-hover:hover){
    &:hover{
      background-color: transparent;
    }
  }
}

.login{
  @media(any-hover:hover){
    &:hover{
      background-color: var(--green-text);
    }
  }
}

// ----------HEADER END-------


// ---------HERO--------

